$east_team: #2e3db2;
$west-team: #dd3d77;

html {
  background: black;
  width: 769px;

  body {
    width: 769px;
  }
}

.app {
  width: 769px;

  color: white;

  .container {
    height: 100%;
    margin-top: 5%;
  }

  .col {
    .court {
      height: 100%;
    }
  }

  #percent_output {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: #a7aaff;
  }

  #paper_stage {
    position: absolute;
  }

  .time_selectoin {

    input {
      width: 85% !important;
    }

    p {
      font-size: 18px !important;
    }
    .time_slider {
      .thumb {
        &.active {
          height: 40px !important;
          width: 40px !important;
          top: -36px !important;
          margin-left: -14px !important;

          .value {
            font-size: 20px !important;
                margin-left: 7px !important;
                margin-top: 7px !important;
                padding-bottom: 6px !important;
                padding-right: 10px !important;
          }
        }
      }
    }

    #min_slider {
      .thumb {
        &.active {
          background-color: #7b15a3;
        }
      }
    }

    #sec_slider {
      .thumb {
        &.active {
          background-color: #c73030;
        }
      }
    }
  }
  .btn {
    width: 100%;
  }

  ul {
    .region {
      font-weight: bold;
    }

    .east {
      color: $east_team;
    }

    .west {
      color: $west_team;
    }
  }
}





#court_img {
  width: 100%;
  height: 100%;
}
